<!doctype html>
<html class="no-js" lang="zxx">

<head>
   <meta charset="utf-8">
   <meta http-equiv="x-ua-compatible" content="ie=edge">
   <title>Travel HTML-5 Template </title>
   <meta name="description" content="">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- <link rel="manifest" href="site.webmanifest"> -->

   <!-- Place favicon.ico in the root directory -->

   <!-- CSS here -->
   <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">
   <link rel="stylesheet" href="/static/assets/css/owl.carousel.min.css">
   <link rel="stylesheet" href="/static/assets/css/slicknav.css">
   <link rel="stylesheet" href="/static/assets/css/animate.min.css">
   <link rel="stylesheet" href="/static/assets/css/magnific-popup.css">
   <link rel="stylesheet" href="/static/assets/css/fontawesome-all.min.css">
   <link rel="stylesheet" href="/static/assets/css/themify-icons.css">
   <link rel="stylesheet" href="/static/assets/css/slick.css">
   <link rel="stylesheet" href="/static/assets/css/nice-select.css">
   <link rel="stylesheet" href="/static/assets/css/style.css">
   <link rel="stylesheet" href="/static/assets/css/responsive.css">
   <link rel="stylesheet" href="/static/slide.css">
</head>

<body>
   <!-- Preloader Start -->
   <div id="preloader-active">
      <div class="preloader d-flex align-items-center justify-content-center">
         <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
               <img src="/static/assets/img/logo/logo.png">
            </div>
         </div>
      </div>
   </div>
   <!-- Preloader Start-->
   <header>
      <!-- Header Start -->
      <div class="header-area">
         <div class="main-header ">
            <div class="header-top top-bg d-none d-lg-block">
               <div class="container">
                  <div class="row justify-content-between align-items-center">
                     <div class="col-lg-8">
                        <div class="header-info-left">
                           <ul>
                              <li>top1229@naver.com</li>
                              <li>Trip advisor</li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="header-bottom  header-sticky">
               <div class="container">
                  <div class="row align-items-center">
                     <!-- Logo -->
                     <div class="col-xl-2 col-lg-2 col-md-1">
                        <div class="logo">
                           <a href="http://127.0.0.1:8000/"><img src="/static/assets/img/logo/logo.png"></a>
                        </div>
                     </div>
                     <div class="col-xl-10 col-lg-10 col-md-10">
                        <!-- Main-menu -->
                        <div class="main-menu f-right d-none d-lg-block">
                           <nav>
                              <ul id="navigation">
                                 <li><a href="http://127.0.0.1:8000/">Home</a></li>
                                 {% if user.is_authenticated %}
                                 <li><a class="nav-link" href="/common/logout/"> Logout </a></li>
                                 {% else %}
                                 <li><a class="nav-link" href="/common/login/" >Login</a></li>
                                 {% endif %}  
                              </ul>
                           </nav>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Header End -->
   </header>
   <!-- slider Area Start-->
   <div class="slider-area ">
      <!-- Mobile Menu -->
      <div class="single-slider slider-height2 d-flex align-items-center"
         data-background="/static/assets/img/hero/contact_hero.jpg">
         <div class="container">
            <div class="row">
               <div class="col-xl-12">
                  <div class="hero-cap text-center">
                     <h2>Leave with me</h2>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- slider Area End-->
   <!--================Blog Area =================-->
   <section class="blog_area single-post-area section-padding">
      <div class="container">
         <div class="row">
            <div class="col-lg-8 posts-list">
               <div class="single-post">
                  <div class="feature-img">
                     <div class="slider">
                        <input type="radio" name="slide" id="slide1" checked>
                        <input type="radio" name="slide" id="slide2">
                        <input type="radio" name="slide" id="slide3">
                        <input type="radio" name="slide" id="slide4">
                        <input type="radio" name="slide" id="slide5">
                        <input type="radio" name="slide" id="slide6">
                        <ul id="imgholder" class="imgs">
                           {% for image in images %}
                           <li><img width="500" height="400" src={{image.address}}></li>
                           {% endfor %}
                        </ul>
                        <div class="bullets">
                           <label for="slide1"></label>
                           <label for="slide2"></label>
                           <label for="slide3"></label>
                           <label for="slide4"></label>
                           <label for="slide5"></label>
                           <label for="slide6"></label>
                        </div>
                     </div>

                     <!-- <img class="img-fluid"
                        src="https://media-cdn.tripadvisor.com/media/photo-s/16/f3/a0/32/caption.jpg"> -->
                  </div>
               </div>
               <div class="comments-area">

                  {% for board in boards %}
                  <div class="comment-list">
                     <div class="single-comment justify-content-between d-flex">
                        <div class="user justify-content-between d-flex">
                           <div class="thumb">
                              <img src="/static/assets/img/comment/comment_1.png">
                           </div>
                           <div class="desc">
                              <p class="comment">
                                 {{board.contents}}
                              </p>
                              <div class="d-flex justify-content-between">
                                 <div class="d-flex align-items-center">
                                    <h5>
                                       <a href="#">{{board.title}}</a>
                                    </h5>
                                    <p class="date">{{board.register_dttm}} / {{board.scope}}</p>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  {% endfor %}

                  <nav class="blog-pagination justify-content-center d-flex">
                     <ul class="pagination justify-content-center">
                        {% if boards.has_previous %}
                        <li class="page-item">
                           <a class="page-link" href="?p={{ boards.previous_page_number }}">이전</a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                           <a class="page-link" href="">이전</a>
                        </li>
                        {% endif %}
                        <li class="page-item active">
                           <a class="page-link" href="">{{ boards.number }} / {{ boards.paginator.num_pages }}</a>
                        </li>
                        {% if boards.has_next %}
                        <li class="page-item">
                           <a class="page-link" href="?p={{ boards.next_page_number }}&title={{title}}">다음</a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                           <a class="page-link disabled" href="#">다음</a>
                        </li>
                        {% endif %}
                     </ul>
                  </nav>
               </div>
            </div>

            <div class="col-lg-4">
               <div class="blog_right_sidebar">
                  <aside>
                     <div id="map" style="width:500px;height:400px;">
                        <script type="text/javascript"
                           src="//dapi.kakao.com/v2/maps/sdk.js?appkey=722b6b21a6f8979fcb66564d3d9ad73f"></script>
                        <script>
                           var container = document.getElementById('map');
                           var options = {
                              // 위도 경도
                              center: new kakao.maps.LatLng('{{y}}', '{{x}}'),
                              level: 3
                           };
                           var map = new kakao.maps.Map(container, options);
                        </script>
                     </div>
                  </aside>


                  <hr>

                  <aside class="single_sidebar_widget tag_cloud_widget">
                     <h4 class="widget_title">주요 키워드</h4>
                     <ul class="list">
                        <li>
                           <a href="#">project</a>
                        </li>
                        <li>
                           <a href="#">love</a>
                        </li>
                        <li>
                           <a href="#">technology</a>
                        </li>
                        <li>
                           <a href="#">travel</a>
                        </li>
                        <li>
                           <a href="#">restaurant</a>
                        </li>
                        <li>
                           <a href="#">life style</a>
                        </li>
                        <li>
                           <a href="#">design</a>
                        </li>
                        <li>
                           <a href="#">illustration</a>
                        </li>
                     </ul>
                  </aside>


               </div>
            </div>
         </div>
      </div>
   </section>
   <!--================ Blog Area end =================-->

   <footer>
      <!-- Footer Start-->
      <div class="footer-area footer-padding footer-bg" data-background="/static/assets/img/service/footer_bg.jpg">
         <div class="container">
            <div class="row d-flex justify-content-between">
               <div class="col-xl-3 col-lg-3 col-md-5 col-sm-6">
                  <div class="single-footer-caption mb-50">
                     <div class="single-footer-caption mb-30">
                        <!-- logo -->
                        <div class="footer-logo">
                           <a href="http://127.0.0.1:8000/"><img src="/static/assets/img/logo/logo2_footer.png"></a>
                        </div>
                        <div class="footer-tittle">
                           <div class="footer-pera">
                              <p>1차 미니 프로젝트</p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-2 col-lg-3 col-md-3 col-sm-5">
                  <div class="single-footer-caption mb-50">
                     <div class="footer-tittle">
                        <h4>Team member</h4>
                        <ul>
                           <li>이정민</li>
                           <li>유준희</li>
                           <li>한수용</li>
                           <li>김서영</li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-4 col-sm-7">
                  <div class="single-footer-caption mb-50">
                     <div class="footer-tittle">
                        <h4>Support</h4>
                        <ul>
                           <li><a href="https://colorlib.com">Colorlib</a></li>
                           <li><a href="https://www.tripadvisor.co.kr">Tripadvisor</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
            <!-- Footer bottom -->
            <div class="row pt-padding">
               <div class="col-xl-7 col-lg-7 col-md-7">
                  <div class="footer-copy-right">
                     <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This template
                        is made with <i class="ti-heart" aria-hidden="true"></i> by <a href="https://colorlib.com"
                           target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                     </p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Footer End-->
   </footer>

   <!-- JS here -->

   <!-- All JS Custom Plugins Link Here here -->
   <script src="/static/assets/js/vendor/modernizr-3.5.0.min.js"></script>

   <!-- Jquery, Popper, Bootstrap -->
   <script src="/static/assets/js/vendor/jquery-1.12.4.min.js"></script>
   <script src="/static/assets/js/popper.min.js"></script>
   <script src="/static/assets/js/bootstrap.min.js"></script>
   <!-- Jquery Mobile Menu -->
   <script src="/static/assets/js/jquery.slicknav.min.js"></script>

   <!-- Jquery Slick , Owl-Carousel Plugins -->
   <script src="/static/assets/js/owl.carousel.min.js"></script>
   <script src="/static/assets/js/slick.min.js"></script>
   <!-- One Page, Animated-HeadLin -->
   <script src="/static/assets/js/wow.min.js"></script>
   <script src="/static/assets/js/animated.headline.js"></script>
   <script src="/static/assets/js/jquery.magnific-popup.js"></script>

   <!-- Scrollup, nice-select, sticky -->
   <script src="/static/assets/js/jquery.scrollUp.min.js"></script>
   <script src="/static/assets/js/jquery.nice-select.min.js"></script>
   <script src="/static/assets/js/jquery.sticky.js"></script>

   <!-- contact js -->
   <script src="/static/assets/js/contact.js"></script>
   <script src="/static/assets/js/jquery.form.js"></script>
   <script src="/static/assets/js/jquery.validate.min.js"></script>
   <script src="/static/assets/js/mail-script.js"></script>
   <script src="/static/assets/js/jquery.ajaxchimp.min.js"></script>

   <!-- Jquery Plugins, main Jquery -->
   <script src="/static/assets/js/plugins.js"></script>
   <script src="/static/assets/js/main.js"></script>

</body>

</html>